<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.willy.will">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
<!-- alarm permission
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
-->

    <application
        android:name=".common.controller.App"
        android:allowBackup="true"
        android:icon="@mipmap/will_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/will_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="02bcc5ccac3144389ff97078106a8721" />

        <activity
            android:name=".main.view.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- set addItem Activity -->
        <activity
            android:name=".add.view.AddItemActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" /> <!-- set searchItem Activity -->
        <activity
            android:name=".search.view.SearchActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".search.view.GroupSearchSettingActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/PopupTheme" />
        <activity
            android:name=".search.view.DoneSearchSettingActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/PopupTheme" />
        <activity
            android:name=".search.view.PeriodSearchSettingActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/PopupTheme" />
        <activity
            android:name=".search.view.LoopSearchSettingActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/PopupTheme" /> <!-- set detail Activity -->
        <activity
            android:name=".detail.view.DetailActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".detail.view.DeletePopupActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/PopupTheme" />
        <activity
            android:name=".common.view.GroupManagementActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:parentActivityName=".add.view.AddItemActivity" />
        <activity
            android:name=".common.view.GroupColorSettingActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/PopupTheme"/>
        <activity
            android:name=".common.view.DeleteGroupPopupActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/PopupTheme" />
        <activity
            android:name=".calander.view.CalendarActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".setting.view.TaskManagementActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".setting.view.ManageTasksPopupActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/PopupTheme" />
        <activity
            android:name=".add.view.LocationSearchActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />

<!-- alarm activity, receiver, service
        <activity
            android:name=".setting.view.AlarmActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <receiver android:name=".setting.receiver.DeviceBootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".setting.receiver.AlarmReceiver"/>
        <service
            android:name=".setting.service.NotificationService"
            android:enabled="true"/>
-->
    </application>

</manifest>